@import "bootstrap";


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
.plus_sign button {
  background:url(/assets/icon-plus.png);
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  border: 0;
}*/

.btn-align{
    /* text-align: right; */
  margin-bottom: 5px;
  margin-left: 520px;
  margin-top: -40px;
}

.user_details{
  text-align: right;
  margin-right: 10px;
  margin-top: -40px;
  height: 300px;
  width: 395px;
  background: #6fc4e3;
  float: right;
  border-color: black !important;
}


/*.navbar-inverse .navbar-nav > li > a {
  color: #ffffff !important;
}

.sidebar-nav > .sidebar-brand a {
  color: #ffffff !important;
}*/

.container_border{
  margin-top: 66px;
  background-color: #fff;
  border-top: 1px solid #D8E0E0;
  border-bottom: 1px solid #D8E0E0;
  border-left: 1px solid #D8E0E0;
  border-right: 1px solid #D8E0E0;
}
.img_align{
    /* text-align: right; */
  /* margin-left: 71px; */
  float: right;
  margin-right: 15px;
  margin-top: 15px
}